.banner-home {
  width: 100%;
  height: 200px;
  background-color: aqua;
}

.img-banner img {
  width: 100%;
  height: 100%;
}

.img-banner {
  width: 100%;
  height: 100%;
}

.produtos {
  display: flex;
}

.owl-carousel {
  gap: 0;
}

.produto {
  width: 25rem;
  height: 40rem;
  border-radius: 0.4rem;

  background-color: var(--purple-light);

  margin: 2.5rem;
}

.produto-img {
  width: 25rem;
  height: 15rem;
}

.produto-img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: bottom;
}

.produto-name {
  margin: 1.5rem 0;
  text-align: center;

  font-size: 1.8rem;
  color: var(--white);
  font-weight: 600;
}

.produto-descricao {
  padding: 0 1rem;
  text-align: center;
}

.produto-lances {
  padding: 0 1rem;

  font-size: 1.6rem;
  text-align: center;

  color: var(--white);
}

.produto-lances::before {
  content: "";
  display: block;
  width: 95%;
  height: 0.2rem;
  margin: 1rem auto;
  background-color: var(--purple);
}

.money {
  color: var(--green);
}

.arremate {
  margin-top: 0.5rem;
}

.btn-produto {
  margin: 2.5rem auto 0 auto;
}
